@font-face {
  font-family: "Gotham-Black";
  src: url("../../../fonts/Gotham-Black.eot?") format("eot"), url("../../../fonts/Gotham-Black.woff") format("woff"), url("../../../fonts/Gotham-Black.ttf") format("truetype"), url("../../../fonts/Gotham-Black.svg#Gotham-Black") format("svg"); }

@font-face {
  font-family: "Gotham-Book";
  src: url("../../../fonts/Gotham-Book.eot?") format("eot"), url("../../../fonts/Gotham-Book.woff") format("woff"), url("../../../fonts/Gotham-Book.ttf") format("truetype"), url("../../../fonts/Gotham-Book.svg#Gotham-Book") format("svg"); }

@font-face {
  font-family: "Gotham-Medium";
  src: url("../../../fonts/Gotham-Medium.eot?") format("eot"), url("../../../fonts/Gotham-Medium.woff") format("woff"), url("../../../fonts/Gotham-Medium.ttf") format("truetype"), url("../../../fonts/Gotham-Medium.svg#Gotham-Medium") format("svg"); }

@font-face {
  font-family: "Gotham-Bold";
  src: url("../../../fonts/Gotham-Bold.eot?") format("eot"), url("../../../fonts/Gotham-Bold.woff") format("woff"), url("../../../fonts/Gotham-Bold.ttf") format("truetype"), url("../../../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg"); }

html,
body {
  max-width: 100%;
  overflow-x: hidden; }

@media only screen and (max-width: 992px) {
  body {
    font-size: 12px; } }

@media only screen and (max-width: 768px) {
  body {
    font-size: 11px; } }

@media only screen and (max-width: 480px) {
  body {
    font-size: 10px; } }

.lien-button {
  height: 5rem;
  width: 25rem;
  font-family: "Gotham-Book", sans-serif;
  background-color: #FFF;
  border: none;
  color: #000;
  padding: 0px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transform: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }
  .lien-button:hover {
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF; }
  @media only screen and (max-width: 992px) {
    .lien-button {
      height: 4.2rem;
      width: 12.8rem;
      font-size: 1rem;
      margin-left: 50%;
      -webkit-transform: translatex(-6.42rem) !important;
      -moz-transform: translatex(-6.42rem) !important;
      -ms-transform: translatex(-6.42rem) !important;
      transform: translatex(-6.42rem) !important; } }

.lien-button-cta {
  width: 15rem;
  font-weight: normal;
  font-size: 1rem;
  margin-left: 50%;
  height: 3.5em;
  color: #FFF !important;
  border-radius: 2.8em;
  text-transform: uppercase;
  background-color: #F94615 !important;
  -webkit-transform: translatex(-7.5rem) !important;
  -moz-transform: translatex(-7.5rem) !important;
  -ms-transform: translatex(-7.5rem) !important;
  transform: translatex(-7.5rem) !important; }
  .lien-button-cta:hover {
    background-color: transparent !important;
    color: #FFF !important;
    border: 1px solid #FFF !important; }
  @media only screen and (max-width: 992px) {
    .lien-button-cta {
      margin-bottom: 2rem;
      font-size: 1rem; } }

.bgs, #seja-um-franqueado {
  position: relative;
  float: left;
  width: 100%;
  background-position: top center;
  background-size: cover; }
  @media only screen and (max-width: 992px) {
    .bgs, #seja-um-franqueado {
      background-attachment: scroll !important;
      background-repeat: no-repeat !important;
      background-position: center center !important; } }

.title-big-white {
  font-family: "Gotham-Book", sans-serif;
  font-size: 3.2em;
  font-weight: normal;
  color: #FFF;
  line-height: 1.3em; }
  .title-big-white .extra-big {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 6rem; }

.title-section {
  color: #58585a;
  font-size: 6em;
  position: relative;
  float: left;
  width: 100%;
  font-family: "Gotham-Bold", sans-serif;
  margin-bottom: 0.8em;
  margin-top: 1em; }
  .title-section:after {
    content: '';
    position: absolute;
    bottom: 1em;
    width: 1.5em;
    height: 8px;
    background-color: #F94615;
    top: 1.3em;
    float: left;
    left: 5px; }
  @media only screen and (max-width: 480px) {
    .title-section {
      font-size: 3.3em; } }
  @media only screen and (max-width: 320px) {
    .title-section {
      font-size: 3em; } }

.title-h2 {
  position: relative;
  float: left;
  width: 100%;
  font-family: "Gotham-Bold", sans-serif;
  font-size: 1.8em;
  color: #F94615;
  margin-bottom: 1.4em;
  line-height: 1.4em; }

.p-default {
  position: relative;
  float: left;
  width: 100%;
  font-family: "Gotham-Book", sans-serif;
  font-size: 1.1em;
  color: #000;
  margin-bottom: 1.8em;
  line-height: 1.6em; }
  @media only screen and (max-width: 992px) {
    .p-default {
      font-size: 1.35em; } }
  .p-default span {
    font-family: "Gotham-Black", sans-serif;
    color: #F94615; }

.p-light {
  position: relative;
  float: left;
  width: 100%;
  font-family: "Gotham-Book", sans-serif;
  color: #58585a;
  font-size: 1em; }

.title-cta {
  color: #FFF;
  font-size: 2.5em;
  position: relative;
  float: left;
  text-align: center;
  width: 100%;
  font-family: "Gotham-Book", sans-serif;
  font-weight: normal;
  margin-bottom: 1.6em;
  margin-top: 1.5em;
  line-height: 1.5em; }
  @media only screen and (max-width: 992px) {
    .title-cta {
      margin-bottom: 1em;
      margin-top: 1em; } }
  .title-cta:after {
    content: '';
    position: absolute;
    bottom: 1em;
    width: 1.8em;
    height: 4px;
    background-color: #FFF;
    top: 3.5em;
    float: left;
    left: 5px;
    margin-left: 50%;
    transform: translatex(-50%); }
    @media only screen and (max-width: 992px) {
      .title-cta:after {
        display: none !important; } }
  .title-cta .extra-big {
    font-family: "Gotham-Bold", sans-serif;
    font-size: 4rem; }

.sub-title-cta {
  position: relative;
  float: left;
  width: 100%;
  font-family: "Gotham-Book", sans-serif;
  font-size: 1.1em;
  color: #FFF;
  margin-bottom: 1.2em;
  line-height: 1.6em;
  text-align: center;
  padding: 0px 30%; }
  @media only screen and (max-width: 992px) {
    .sub-title-cta {
      margin-bottom: 0.2em;
      margin-top: 0.2em;
      padding: 0px 2%;
      font-size: 1.4em; } }

.img-decorative {
  height: 12.5em;
  width: 12.5em;
  margin-bottom: 2em; }

.generic-relative {
  position: relative;
  float: left;
  width: 100%; }

.no-padding {
  padding: 0px; }

.padding-left {
  padding-left: 15px; }

.default-input, input,
textarea, .select2-container .select2-selection--single {
  font-family: "Gotham-Book", sans-serif;
  font-size: 1.3rem !important;
  font-weight: 400;
  background-color: rgba(87, 52, 34, 0.6);
  border: none;
  width: 100%;
  border-radius: 1.8em;
  color: #FFF !important;
  height: 60px;
  padding: 0 1.5em;
  font-size: 1em;
  margin-bottom: 1em;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transform: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s; }
  @media only screen and (max-width: 992px) {
    .default-input, input,
    textarea, .select2-container .select2-selection--single {
      height: 50px; } }
  .default-input::-webkit-input-placeholder, input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder, .select2-container .select2-selection--single::-webkit-input-placeholder {
    color: #FFF; }
  .default-input::-moz-placeholder, input::-moz-placeholder,
  textarea::-moz-placeholder, .select2-container .select2-selection--single::-moz-placeholder {
    color: #FFF; }
  .default-input:-ms-input-placeholder, input:-ms-input-placeholder,
  textarea:-ms-input-placeholder, .select2-container .select2-selection--single:-ms-input-placeholder {
    color: #FFF; }
  .default-input:-moz-placeholder, input:-moz-placeholder,
  textarea:-moz-placeholder, .select2-container .select2-selection--single:-moz-placeholder {
    color: #FFF; }
  .default-input:placeholder-shown, input:placeholder-shown,
  textarea:placeholder-shown, .select2-container .select2-selection--single:placeholder-shown {
    color: #FFF; }

#form-franqueado,
#form-contact {
  position: relative;
  float: left;
  width: 100%; }

textarea {
  height: 120px;
  padding-top: 1em;
  resize: none; }

.owl-carousel .owl-dots {
  margin-top: -3em !important;
  position: absolute;
  width: 100%; }
  .owl-carousel .owl-dots .owl-dot span {
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transform: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s; }
  .owl-carousel .owl-dots .owl-dot:hover span {
    background-color: #F94615 !important; }
  .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #F94615 !important; }

.select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #F94615;
  color: white; }

.select2-container.select2-container--open .select2-dropdown {
  margin-top: -18px;
  border: none;
  border-radius: 0px; }

.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow {
  height: 60px;
  width: 30px; }
  .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #FFF transparent; }

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 60px !important;
  padding: 0px;
  color: #FFF; }

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 60px;
  width: 30px; }
  .select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #FFF transparent transparent transparent; }

.default-section, .cta-default, #seja-um-franqueado, #seja-um-franqueado .row-home .box-relative, #sobre, #duvidas-frequentes, #glossario, #glossario .box-relative, #seguradoras-associadas, #seguradoras-associadas .row-items .box-relative, #contato, footer {
  position: relative;
  float: left;
  width: 100%; }

.cta-default .bg-cta {
  padding-top: 0.5em;
  margin-top: 4.2em;
  background-size: initial;
  background-position: center center; }

@media only screen and (max-width: 992px) {
  .cta-default {
    height: auto; } }

.cta-default .row-cta button {
  margin-top: 2.1em;
  margin-bottom: 5em;
  background-color: #FFF;
  color: #000; }
  .cta-default .row-cta button:hover {
    background-color: transparent;
    color: #FFF; }

#seja-um-franqueado {
  background: linear-gradient(rgba(249, 70, 21, 0.4), rgba(249, 70, 21, 0.4)), url("../../../images/lien-bg-top.jpg");
  height: 100vh; }
  @media only screen and (max-width: 992px) {
    #seja-um-franqueado {
      height: auto; } }
  #seja-um-franqueado .abf {
    position: absolute;
    height: 15em;
    width: 7em;
    margin-left: -3.5em;
    left: 70%;
    bottom: 4em;
    background-image: url("../../../images/lien-abf-top.svg");
    background-repeat: no-repeat; }
    @media only screen and (max-width: 992px) {
      #seja-um-franqueado .abf {
        display: none; } }
  #seja-um-franqueado .decoration {
    position: absolute;
    filter: alpha(opacity=0.9);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    background-image: url("../../../images/lien-logo-white.svg");
    background-repeat: no-repeat; }
    @media only screen and (max-width: 992px) {
      #seja-um-franqueado .decoration {
        display: none; } }
  #seja-um-franqueado .decoration-1 {
    height: 25em;
    width: 25em;
    left: 70%;
    margin-left: -12.5em;
    top: 25%; }
  #seja-um-franqueado .decoration-2 {
    height: 60em;
    width: 60em;
    top: 5%;
    left: 70%;
    filter: alpha(opacity=0.1);
    -moz-opacity: 0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1; }
  #seja-um-franqueado .decoration-3 {
    height: 100em;
    width: 100em;
    top: -15%;
    left: 0%;
    filter: alpha(opacity=0.03);
    -moz-opacity: 0.03;
    -khtml-opacity: 0.03;
    opacity: 0.03; }
  #seja-um-franqueado .row-home {
    margin-top: 12.28em; }
    @media only screen and (max-width: 992px) {
      #seja-um-franqueado .row-home {
        margin-top: 7.14em; } }
    #seja-um-franqueado .row-home h1 {
      margin-bottom: 2.85rem; }
      #seja-um-franqueado .row-home h1:after {
        content: '';
        position: absolute;
        bottom: 1em;
        height: 8px;
        width: 2em;
        background-color: #000000;
        top: 3.8em;
        float: left;
        opacity: 0.31;
        left: 17px; }
      @media only screen and (max-width: 992px) {
        #seja-um-franqueado .row-home h1 {
          margin-top: 2em; } }
    #seja-um-franqueado .row-home p {
      margin-top: 1em;
      color: #FFF; }
      #seja-um-franqueado .row-home p span {
        color: #FFF; }
    #seja-um-franqueado .row-home button {
      left: 50%;
      -webkit-transform: translatex(-12.5rem) !important;
      -moz-transform: translatex(-12.5rem) !important;
      -ms-transform: translatex(-12.5rem) !important;
      transform: translatex(-12.5rem) !important;
      margin-top: 2em;
      margin-bottom: 2.85rem;
      padding-left: 20px;
      position: relative;
      border: 1px solid #FFF; }
      #seja-um-franqueado .row-home button:hover svg .cls-1 {
        fill: #FFF; }
      #seja-um-franqueado .row-home button svg {
        -webkit-transition: all 0.25s ease-in-out 0s;
        -moz-transform: all 0.25s ease-in-out 0s;
        -ms-transition: all 0.25s ease-in-out 0s;
        transition: all 0.25s ease-in-out 0s;
        top: 18px;
        position: absolute;
        height: 30px;
        left: 30px; }

#sobre {
  margin-top: 2.14em;
  margin-bottom: 2.14em; }

#duvidas-frequentes {
  margin-top: 2.14em;
  margin-bottom: 2.14em; }
  #duvidas-frequentes .row-duvidas-frequentes .title-section:after {
    top: 2.4em; }
  #duvidas-frequentes .row-duvidas-frequentes .p-light {
    margin-bottom: 2em; }
  #duvidas-frequentes .row-duvidas-frequentes h3 {
    position: relative;
    float: left;
    width: 100%;
    font-family: "Gotham-Bold", sans-serif;
    font-size: 1.7em;
    color: #F94615;
    margin-bottom: 1.4em;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 1.2em; }
  #duvidas-frequentes .row-duvidas-frequentes .question {
    position: relative;
    float: left;
    width: 100%;
    font-family: "Gotham-Medium", sans-serif;
    font-size: 1.5em;
    color: #58585a;
    margin-bottom: 1.4em;
    line-height: 1.4em;
    margin-left: 3em; }
  #duvidas-frequentes .row-duvidas-frequentes .awnser {
    position: relative;
    float: left;
    width: 100%;
    font-family: "Gotham-Book", sans-serif;
    font-size: 1.2em;
    color: #58585a;
    margin-bottom: 1.4em;
    line-height: 1.4em;
    margin-left: 6em; }

#glossario {
  margin-top: 2.14em;
  margin-bottom: 2.14em; }
  #glossario h3 {
    color: #58585a;
    font-family: "Gotham-Book", sans-serif;
    font-size: 1.4em;
    margin-bottom: 2em; }
  #glossario h4 {
    color: #F94615;
    font-family: "Gotham-Book", sans-serif;
    margin-bottom: 2em;
    font-weight: normal; }
    #glossario h4 span {
      font-family: "Gotham-Bold", sans-serif; }
  #glossario .title-glossario {
    color: #F94615;
    font-family: "Gotham-Bold", sans-serif;
    margin-bottom: 1em;
    font-size: 1.5em; }
  #glossario .description-glossario {
    margin-left: 3em;
    font-family: "Gotham-Book", sans-serif;
    color: #58585a;
    margin-bottom: 3em; }
  #glossario .box-relative {
    margin-bottom: 2em; }
    #glossario .box-relative input {
      background-color: #FFF;
      border: 1px solid #58585a;
      text-transform: uppercase;
      color: #F94615 !important;
      -webkit-transition: all 0.25s ease-in-out 0s;
      -moz-transform: all 0.25s ease-in-out 0s;
      -ms-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s; }
      #glossario .box-relative input::-webkit-input-placeholder {
        color: #F94615; }
      #glossario .box-relative input::-moz-placeholder {
        color: #F94615; }
      #glossario .box-relative input:-ms-input-placeholder {
        color: #F94615; }
      #glossario .box-relative input:-moz-placeholder {
        color: #F94615; }
      #glossario .box-relative input:placeholder-shown {
        color: #F94615; }
      #glossario .box-relative input:hover, #glossario .box-relative input:focus {
        border-left: 4px solid #58585a;
        -webkit-transition: all 0.25s ease-in-out 0s;
        -moz-transform: all 0.25s ease-in-out 0s;
        -ms-transition: all 0.25s ease-in-out 0s;
        transition: all 0.25s ease-in-out 0s; }
    #glossario .box-relative button {
      position: absolute;
      height: 25px;
      width: 25px;
      border: none;
      top: 1.3em;
      right: 1.2em;
      background-image: url("../../../images/lien-btn-filter.svg");
      background-color: transparent; }
  #glossario ul {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0; }
    #glossario ul li {
      list-style-type: none;
      color: #58585a;
      font-size: 1.1em; }

#seguradoras-associadas {
  margin-top: 2.14em;
  margin-bottom: 2.14em; }
  #seguradoras-associadas .row-seguradoras-associadas .title-section:after {
    top: 2.4em; }
  #seguradoras-associadas .row-items .box-relative .item-img {
    border: 1px solid #58585a;
    width: 100%;
    height: 160px; }
  #seguradoras-associadas .row-items .box-relative h2 {
    color: #58585a;
    font-size: 2em;
    font-family: "Gotham-Bold", sans-serif;
    margin-bottom: 0.5em;
    text-align: center; }
  #seguradoras-associadas .row-items .box-relative p {
    color: #F94615;
    text-align: center; }
  #seguradoras-associadas .row-items .box-relative button {
    position: relative;
    height: 2.5rem;
    width: 10rem;
    font-family: "Gotham-Book", sans-serif;
    background-color: #F94615;
    border: none;
    color: #FFF;
    padding: 0px;
    border-radius: 40px;
    font-size: 0.8rem;
    left: 50%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transform: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
    -webkit-transform: translatex(-5rem) !important;
    -moz-transform: translatex(-5rem) !important;
    -ms-transform: translatex(-5rem) !important;
    transform: translatex(-5rem) !important;
    margin-bottom: 4em; }
    #seguradoras-associadas .row-items .box-relative button:hover {
      background-color: #58585a; }
  #seguradoras-associadas .owl-carousel .owl-dots {
    margin-top: 1em !important;
    margin-bottom: 2em;
    position: absolute;
    width: 100%; }
    #seguradoras-associadas .owl-carousel .owl-dots .owl-dot span {
      -webkit-transition: all 0.25s ease-in-out 0s;
      -moz-transform: all 0.25s ease-in-out 0s;
      -ms-transition: all 0.25s ease-in-out 0s;
      transition: all 0.25s ease-in-out 0s; }
    #seguradoras-associadas .owl-carousel .owl-dots .owl-dot:hover span {
      background-color: #F94615 !important; }
    #seguradoras-associadas .owl-carousel .owl-dots .owl-dot.active span {
      background-color: #F94615 !important; }
  #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav {
    position: absolute;
    top: calc(50% - 81px);
    margin: 0px;
    width: 100%;
    z-index: -1; }
    #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-prev {
      background: none;
      padding: 0px;
      border-radius: 0px;
      float: left; }
      #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-prev:hover {
        background-color: transparent; }
      #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-prev .arrow-prev {
        height: 50px;
        width: 50px;
        position: relative;
        float: left;
        background-image: url("../../../images/lien-arrow-prev.svg");
        margin-left: -61px;
        -webkit-transition: all 0.15s ease-in-out 0s;
        -moz-transform: all 0.15s ease-in-out 0s;
        -ms-transition: all 0.15s ease-in-out 0s;
        transition: all 0.15s ease-in-out 0s; }
        @media only screen and (max-width: 992px) {
          #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-prev .arrow-prev {
            margin-right: 0px; } }
        #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-prev .arrow-prev:hover {
          -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
          transform: scale(0.9); }
    #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-next {
      background: none;
      padding: 0px;
      border-radius: 0px;
      float: right; }
      #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-next:hover {
        background-color: transparent; }
      #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-next .arrow-next {
        height: 50px;
        width: 50px;
        position: relative;
        float: left;
        background-image: url("../../../images/lien-arrow-next.svg");
        margin-right: -180px;
        -webkit-transition: all 0.15s ease-in-out 0s;
        -moz-transform: all 0.15s ease-in-out 0s;
        -ms-transition: all 0.15s ease-in-out 0s;
        transition: all 0.15s ease-in-out 0s; }
        @media only screen and (max-width: 992px) {
          #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-next .arrow-next {
            margin-right: 0px; } }
        #seguradoras-associadas #carousel-seguradoras-associadas .owl-nav .owl-next .arrow-next:hover {
          -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
          transform: scale(0.9); }

#contato {
  background-color: #929294;
  margin-top: 2.14em;
  margin-bottom: 0em; }
  #contato .row-contato .title-section {
    text-align: center;
    color: #FFF; }
    #contato .row-contato .title-section:after {
      content: '';
      position: absolute;
      bottom: 1em;
      width: 1.8em;
      height: 8px;
      background-color: #3B3B3B !important;
      float: left;
      left: 5px;
      margin-left: 50%;
      transform: translatex(-50%); }
  #contato .row-contato .title-h2 {
    text-align: center;
    color: #FFF;
    font-size: 1.4em;
    font-family: "Gotham-Book", sans-serif; }
  #contato #form-contact label {
    color: #FFF;
    font-family: "Gotham-Book", sans-serif;
    font-size: 1.2rem; }
  #contato #form-contact input, #contato #form-contact textarea {
    border-radius: 10px;
    background-color: #FFF;
    color: #58585a !important; }
  #contato #form-contact button {
    width: 15em;
    margin-top: 1em;
    margin-bottom: 3em;
    margin-left: 50%;
    -webkit-transform: translatex(-7.5rem) !important;
    -moz-transform: translatex(-7.5em) !important;
    -ms-transform: translatex(-7.5em) !important;
    transform: translatex(-7.5em) !important;
    background-color: #3B3B3B;
    color: #FFF;
    border: 1px solid #3B3B3B; }
    #contato #form-contact button:hover {
      background-color: #F94615;
      border: 1px solid #F94615;
      color: #FFF; }

footer {
  font-family: "Gotham-Book", sans-serif;
  padding-top: 3em;
  padding-bottom: 2em;
  color: #FFF;
  background-color: #3B3B3B; }
  footer p {
    margin-bottom: 0.1em; }
  footer .col-left img {
    height: 50px;
    margin-bottom: 1em; }
  footer .col-right {
    text-align: right; }
    footer .col-right img {
      height: 50px;
      margin-bottom: 1em; }
